{% include "header.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="/static/css/signupp.css">
</head>
<body>
    <div class="signup-form">
        <h2><b>Sign Up</b></h2>
        <form action="{% url 'signup_page' %}" method="post" id="signupForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="signupUsername"><b>Username</b></label>
                <input type="text" id="signupUsername" name="username" required>
            </div>
            <div class="form-group">
                <label for="signupEmail"><b>Email</b></label>
                <input type="email" id="signupEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="signupPassword"><b>Password</b></label>
                <input type="password" id="signupPassword" name="password1" required>
            </div>

            <div class="form-group">
                <label for="signupPassword"><b>Confirm Password</b></label>
                <input type="password" id="signupPassword" name="password2" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <center>
        <p>Already have an account? <a href="{% url 'login_page' %}"><b>Login here</b></a></p>
        </center>
    </div>
    <script src="/static/js/signupp.js"></script>
</body>
</html>