{% extends "base.html" %}
{% block content  %}


<section class="section section-divider gray about" id="about">
    <div class="container">

      <div class="about-banner">
        <img src="/static/images/about-banner.png" width="509" height="459" loading="lazy" alt="Burger with Drinks"
          class="w-100 about-img">

    
      </div>

      <div class="about-content">

        <h2 class="h2 section-title">
           Burgers, and Best Pizzas
          <span class="span">in Town!</span>
        </h2>

        <p class="section-text">
            Burgers  and pizzas are timeless favorites that offer endless possibilities for creativity and customization. 
            Whether sticking to traditional recipes or exploring gourmet innovations, these dishes can cater to every palate and occasion.
        </p>

        <ul class="about-list">

          <li class="about-item">
            <ion-icon name="checkmark-outline"></ion-icon>

            <span class="span">Delicious & Healthy Foods</span>
          </li>

          <li class="about-item">
            <ion-icon name="checkmark-outline"></ion-icon>

            <span class="span">Spacific Family And Kids Zone</span>
          </li>

          <li class="about-item">
            <ion-icon name="checkmark-outline"></ion-icon>

            <span class="span">Music & Other Facilities</span>
          </li>

          <li class="about-item">
            <ion-icon name="checkmark-outline"></ion-icon>

            <span class="span">Fastest Food Home Delivery</span>
          </li>

        </ul>

        <button class="btn btn-hover"><a href="/menu">Order Now</a></button>

      </div>

    </div>
  </section>
  <section class="section food-menu" id="food-menu">
    <div class="container">

      <p class="section-subtitle">Popular Dishes</p>

      <h2 class="h2 section-title">
        Our Delicious Foods
      </h2>

      <p class="section-text">
        Food is any substance consumed to provide nutritional support for an organism.
      </p>

    

      <ul class="food-menu-list">

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="/static/images/food-menu-1.png" width="300" height="300" loading="lazy"
                alt="Fried Chicken Unlimited" class="w-100">

             
            </div>

            <div class="wrapper">
              <p class="category">Salad</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Mix Salad</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price">Rs.450</data>

              <del class="del" value="69.00">Rs.550</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="/static/images/food-menu-2.png" width="300" height="300" loading="lazy"
                alt="Burger King Whopper" class="w-100">

             
            </div>

            <div class="wrapper">
              <p class="category">Chicken</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Wendy's Chicken</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="29.00">Rs.550</data>

              <del class="del">Rs.650</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="/static/images/food-menu-3.png" width="300" height="300" loading="lazy"
                alt="White Castle Pizzas" class="w-100">

    
            </div>

            <div class="wrapper">
              <p class="category">Chicken</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Hot Wings</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="49.00">Rs.350</data>

              <del class="del">Rs.450</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="/static/images/food-menu-4.png" width="300" height="300" loading="lazy"
                alt="Bell Burrito Supreme" class="w-100">

            </div>

            <div class="wrapper">
              <p class="category">Burrito</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Bell Burrito Supreme</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="59.00 ">Rs.350</data>

              <del class="del">Rs.450</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="/static/images/promo-5.png" width="300" height="300" loading="lazy"
                alt="Kung Pao Chicken BBQ" class="w-100">

    
            </div>

            <div class="wrapper">
              <p class="category">Healthy Dishes</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Green healthy Salad</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="49.00">Rs.250</data>

              <del class="del">Rs.350</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="/static/images/promo-4.png" width="300" height="300" loading="lazy"
                alt="Wendy's Chicken" class="w-100">

            
            </div>

            <div class="wrapper">
              <p class="category">Diet Food</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Healthy Diet Food</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="49.00">Rs.350</data>

              <del class="del">Rs.450</del>

            </div>

          </div>
        </li>

      </ul>


    </div>
  </section>

  


  {% endblock  %}

