{% extends "base.html" %}
{% block content  %}







  <main>
    <article>


      <section class="hero" id="home" style="background-image: url('static/images/hero-bg.jpg')">
        <div class="container">

          <div class="hero-content">

            <h3 class="h1 hero-title">"Taste the Tradition, Enjoy the Innovation"</h3>

            

            <button class="btn"><a href="/reservations">Book A Table</a></button>

          </div>

          

        </div>
    
      </section>
      
      <section class="section section-divider gray about" id="about">
        <div class="container">
    
          <div class="about-banner">
            <img src="static/images/about-banner.png" width="509" height="459" loading="lazy" alt="Burger with Drinks"
              class="w-100 about-img">
    
        
          </div>
    
          <div class="about-content">
    
            <h2 class="h2 section-title">
               Burgers, and Best Pizzas
              <span class="span">in Town!</span>
            </h2>
    
            <p class="section-text">
                Burgers and pizzas are timeless favorites that offer endless possibilities for creativity and customization. 
                Whether sticking to traditional recipes or exploring gourmet innovations, these dishes can cater to every palate and occasion.
            </p>
    
            <ul class="about-list">
    
              <li class="about-item">
                <ion-icon name="checkmark-outline"></ion-icon>
    
                <span class="span">Delicious & Healthy Foods</span>
              </li>
    
              <li class="about-item">
                <ion-icon name="checkmark-outline"></ion-icon>
    
                <span class="span">Spacific Family And Kids Zone</span>
              </li>
    
              <li class="about-item">
                <ion-icon name="checkmark-outline"></ion-icon>
    
                <span class="span">Music & Other Facilities</span>
              </li>
    
              <li class="about-item">
                <ion-icon name="checkmark-outline"></ion-icon>
    
                <span class="span">Fastest Food Home Delivery</span>
              </li>
    
            </ul>
    
            <button class="btn btn-hover"><a href="/menu">Order Now</a></button>
    
          </div>
    
        </div>
      </section>


      
      <section class="section section-divider white cta" style="background-image: url('static/images/hero-bg.jpg')">
        <div class="container">

          <div class="cta-content">

            <h2 class="h2 section-title">
              The DineEase Have Excellent Of <span> Quality Burgers!</span>
            </h2>

          
<span>
            <button class="btn btn-hover"><a href="/menu">Order Now</a></button>
</span>
          </div>

          <figure class="cta-banner">
            <img src="static/images/cta-banner.png" width="700" height="637" loading="lazy" alt="Burger"
              class="w-100 cta-img">

            
          </figure>

        </div>
      </section>





     



      <section class="section section-divider white testi">
        <div class="container">

          <p class="section-subtitle">Testimonials</p>

          <h2 class="h2 section-title">
            Our Customers Reviews
          </h2>

          <p class="section-text">
            Food is any substance consumed to provide nutritional
            support for an organism.
          </p>

          <ul class="testi-list has-scrollbar">

            <li class="testi-item">
              <div class="testi-card">

                <div class="profile-wrapper">

                  <figure class="avatar">
                    <img src="static/images/priyanka.jpg" width="80" height="80" loading="lazy" alt="Robert William">
                  </figure>

                  <div>
                    <h3 class="h4 testi-name">Priyanka Paudel</h3>

                    <p class="testi-title">CEO </p>
                  </div>

                </div>

                <blockquote class="testi-text">
                  I would be lost without restaurant. I would like to personally thank you for your outstanding product.Great dining experience overall.
                  The wine pairing was spot on. Will definitely return.
                </blockquote>

                <div class="rating-wrapper">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>
            </li>

            <li class="testi-item">
              <div class="testi-card">

                <div class="profile-wrapper">

                  <figure class="avatar">
                    <img src="static/images/samikshya.jpg" width="80" height="80" loading="lazy" alt="Thomas Josef">
                  </figure>

                  <div>
                    <h3 class="h4 testi-name">Samikshya Dhakal</h3>

                    <p class="testi-title">MD</p>
                  </div>

                </div>

                <blockquote class="testi-text">
                    Absolutely loved the food at DineEase! The steak was cooked to perfection and the garlic mashed potatoes were to die for.
                     The ambiance is cozy, and the staff is very friendly. Highly recommend
                </blockquote>

                <div class="rating-wrapper">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>
            </li>

            <li class="testi-item">
              <div class="testi-card">

                <div class="profile-wrapper">

                  <figure class="avatar">
                    <img src="static/images/amrita.jpg" width="70" height="70" loading="lazy" alt="Charles Richard">
                  </figure>

                  <div>
                    <h3 class="h4 testi-name">Amrita Kandel</h3>

                    <p class="testi-title">Marketing Officer</p>
                  </div>

                </div>

                <blockquote class="testi-text">
                    Great dining experience overall. The seafood pasta was fresh and flavorful, though the portion size was a bit small for the price. Service was prompt and courteous.
                </blockquote>

                <div class="rating-wrapper">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>


    </article>
  </main>
  {% endblock  %}





 