<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <style>
      body {
        background-color: #f6eec9;
        margin-top: 120px;
      }

      .category {
        cursor: pointer;
      }

      .food-item {
        display: none;
      }

      .food-item.active {
        display: flex;
      }
    </style>
  </head>
  <body>
    {% block headercontent %}
    {% endblock headercontent %}
    <div style="height:100px"></div>
    {% block maincontent %}
    {% endblock maincontent %}
    {% block payment-gateway %}
    {% endblock payment-gateway %}
  </body>
</html>
